@charset "UTF-8";
/* CSS Document */

 h1 {
	 color: black;
	 font-family: "helvetica neue", arial, sans-serif;
	 font-size: 45px;
	 text-align: center;
	 letter-spacing: 9px;
	 font-weight: bold;
	 margin-top: -5px;
	 margin-bottom: 20px;
	 margin-left: 0;
	 margin-right: 0;
	 padding-left: 12px;
	 padding-right: 0;
}

#navigation {
	border-bottom: 0.5px solid #000000;
	text-align: center;
	margin: 0 -15px 0 -15px;
		
}

#navigation a {
	font-family: "helvetica neue", arial, sans-serif;
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 100;
    text-decoration: none;
	color: black;
	text-align: center;
}

#navigation li {
	list-style: none; /* fjerner bullets */
	margin: 0;
	padding: 0;
	display: inline; /* Sætter list-items i række, i stedet for liste */
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
	
}

#selected {
	padding-bottom: 4px;
	border: 0.5px solid black;
	border-bottom: 0.5px solid white;
	padding: 2px 7px 1px 10px;
}

#not-selected {
	border: 0.5px solid white;
	border-bottom: 0.5px solid black;
	padding: 2px 7px 1px 10px;
}

#notselected {
	border: 0.5px solid white;
	border-bottom: 0.5px solid black;
	padding: 2px 7px 1px 10px;
}

p {
	font-family: "helvetica neue", arial, sans-serif;
	font-size: 15px;
}

div {
	font-family: "helvetica neue", arial, sans-serif;
	font-size: 15px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
}

.project {
	width: 250px;
	height: 250px;
	outline: 0.5px solid black;
	margin-top: 13px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

.project p {
	text-align: center;
	margin-top: -140px;
	color: white;
	letter-spacing: 5px;
	font-weight: 100;
}

.wrapper-bridge-project {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
}

.bridge-description {
	max-width: 400px;
}

.bridge-description p {
	margin-bottom: 40px;
	margin-top: -15px;
}

.bridge-pictures {
	width: 400px;
}

#bridge {
	outline: 0.5px solid black;
	margin-top: 20px;
}

#bridge-original {
	outline: 0.5px solid black;
	margin-top: 20px;
}

.wrapper-about {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
}

.about {
	max-width: 400px;
}

.about p {
	margin-bottom: 40px;
	margin-top: -15px;
}

.photo-me {
	margin-top: 20px;
	outline: 0.5px solid black;
}

.contact {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	width: 400px;
}

.contact p {
	margin-right: 30px;
	margin-left: 30px;
}

#your-email {
	border: 0.5px solid black;
	border-radius: 6px;
	height: 20px;
	width: 450px;
	align-content: center;
	margin: 10px 0;
	padding-left: 10px;
}

#your-name {
	border: 0.5px solid black;
	border-radius: 6px;
	height: 20px;
	width: 450px;
	align-content: center;
	margin: 10px 0;
	padding-left: 10px;
}

#write-a-message {
	border: 0.5px solid black;
	border-radius: 6px;
	height: 200px;
	width: 450px;
	align-content: center;
	margin: 10px 0;
	padding-left: 10px;
}

#send {
	border: 0.5px solid black;
	border-radius: 6px;
	height: 20px;
	width: 50px;
	margin: 10px 0;
	text-align: center;
}